.transfer-input-box{
    width: 100%;
    margin-top: 30px;
}

.in-transfer-input-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
}

.input-nominal-box{
    width: 100%;
    margin: 20px;
    margin-bottom: 50px;
}
.input-nominal{
    text-align: center;
    border: none;
    width: 100%;
    outline: none;
    font-size: 40px;
    margin-bottom: 35px;
}

.input-text-box{
    width: 50%;
    border-bottom: 2px solid grey;
    text-align: left;
    display: flex;
    margin-bottom: 50px;
}

.fa-pen{
    color: grey;
}

.input-text{
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}

.button-box{
    width: 100%;
    margin-top: 100px;
    text-align: right;
}