.form-box{
    width: 100%;
    margin-top: 110px;
    text-align: center;
    margin-bottom: 100px;
}

.password-box{
    width: 50%;
    border-bottom: 2px solid #A9A9A999;
    margin-left: 25%;
    text-align: left;
    margin-top: 30px;
}

.password-box-color{
    width: 50%;
    border-bottom: 2px solid #6379F4;
    margin-left: 25%;
    text-align: left;
    margin-top: 30px;
}

.in-password-box{
    padding: 5px;
}

.password-input{
    width: 86%;
    font-size: 18px;
    border: none;
    outline: none;
    margin-right: 10px;
}






/* icon lock change color */
.lock{
    color: #A9A9A999;
    margin-right: 10px;
}
.lock-color{
    color:#6379F4;
    margin-right: 10px;
}

/* icon eye change color */

.eye{
    color: #A9A9A999;
}

.eye-color{
    color: #6379F4;
}

/* button change color */

.change-button{
    width:50%;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #88888F ;
    background-color: #DADADA;
}

.change-button-color{
    width:50%;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: white ;
    background-color: #6379F4;
}